<!DOCTYPE html>
<html lang="en">
  <head>

    {% if page %}
      {% set title = page.title|capitalize + ' · ' + SITENAME %}
      {% set description = page.summary|striptags %}
      {% set thumbnail = 'images/card.png' %}
    {% elif category %}
      {# 
        taking the thumbnail of the first workshop! 
        for sharing purposes, since articles doesn't have their own page 
      #}
      {% set first_article = articles|sort(attribute='source_path', reverse=True)|first %}
      {% set title = first_article.title + ' · ' +  category.name|capitalize + ' · ' + SITENAME %}
      {% set description = DESCRIPTION %}
      {% if first_article.illustration %}
        {% set first_illustration = first_article.illustration.split(', ')|first %}
        {% set thumbnail = 'images/' + category.name + '/' + first_illustration %}
      {% else %}
        {% set thumbnail = 'images/card.png' %}
      {% endif %}
    {% else %}
      {% set title = SITENAME %}
      {% set description = DESCRIPTION %}
      {% set thumbnail = 'images/card.png' %}
    {% endif %}

    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/theme/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/theme/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/theme/css/typography.css" type="text/css" />

    <!-- opengraph:meta -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ SITEURL }}/{{ thumbnail }}" />

    <!-- twitter:meta -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ SITEURL }}/{{ thumbnail }}" />


  </head>

  <body class="{% block body_class %}{% endblock %}">

    <nav>
      <h1>
        <a href="/">Plotter Station</a>
      </h1>
      <ul>
        {# intro first #}
        {% set intro = pages|selectattr('slug', 'equalto', 'about')|first %}
        <li {% if output_file == intro.url %}class="active"{% endif %}>
          <a href="/{{intro.url}}">{{intro.title}}</a>
        </li>
        {# all the category in alphabetical order #}
        {% for c in categories|sort(attribute='title') %}
        <li {% if output_file == c[0].url %}class="active"{% endif %}>
          {% set first_article = c[1]|sort(attribute='source_path', reverse=True)|first %}
          <a href="/{{first_article.url}}">{{c[0]|capitalize}}</a>
        </li>
        {% endfor %}
        {# all the remaining pages in alphabetical order #}
        {% for p in pages|sort(attribute='title')|rejectattr('slug', 'equalto', 'about') %}
          <li {% if output_file == p.url %}class="active"{% endif %}>
            <a href="/{{p.url}}">{{p.title}}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    
    {% block content %}
      {# content goes here #}
    {% endblock %}

    <script>
      let altImg = document.querySelectorAll('[data-alt-images]');

      for (let i = 0; i < altImg.length; i++) {
        let alternatives = altImg[i].dataset.altImages.split(',');
        if (alternatives.length > 1) {
          let choice = Math.floor(Math.random() * alternatives.length);
          altImg[i].src = alternatives[choice];
        }
      }
    </script>
  </body>
</html>
