{% extends "base.html" %}

{% block content %}
{% set intro = pages|selectattr('slug', 'equalto', 'about')|first%}
<article class="index">

    <div class="global__short">
        {{intro.summary}}
    </div>

    {% for category in categories|sort(attribute='title') %}
    <h2>{{category[0]|capitalize}}</h2>
    <ul class="grid">
        {% for article in category[1]|sort(attribute='source_path', reverse=True) %}
        <li>
            {% include 'partials/small-card.html' %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}

</article>
{% endblock %}

