
<div class="card" id="{{article.slug}}">


  <a href="#{{article.slug}}" class="card__link">

    {# thumbnails #}
    {% if article.illustration %}
      {% set illustrations = article.illustration.split(', ') %}
      {#
        {% if illustrations|length > 0 %}
          <div class="card__pics">
            <img src="/images/{{article.category}}/{{ illustrations[1] }}">
          </div>
        {% else %}
          <div class="card__pics">
            <img src="/images/{{article.category}}/{{ illustrations[0] }}">
          </div>  
        {% endif %}
      #}
      <div class="card__pics">
        <img src="/images/{{article.category}}/{{ illustrations|random }}" 
        data-alt-images="{% for img in illustrations %}/images/{{article.category}}/{{img}}{% if not loop.last %},{%endif%}{% endfor %}">
      </div>
    {% endif %}

    {# Name of the machine #}
    <div class="pad">
      <h2 class="card__name">{{article.title}}</h2>
    </div>
  </a>


    {# listing all technical info #}
    {% if article.meta %}
    <div class="pad">
      {% if article.technical_drawing %}
      <img class="manual" src="/images/{{article.category}}/{{ article.technical_drawing}}">
      {% endif %}
      <ul class="card__meta">
        {% for name, value in article.meta.items() %}
          {% if value %}
          <li>
            <span><strong>{{name}}</strong></span>
            <span>{{value}}</span>
          </li>
          {% else %}
          <li class="unavailable">
            <span><strong>{{name}}</strong></span>
            <span>{{value}}</span>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {# additionnal text (?) #}
    <div class="pad content">
      {{article.content}}
    </div>
</div>