
<div class="small-card" id="{{article.slug}}">
  <a href="/{{article.url}}" class="card__link">

    {# thumbnails #}
    {% if article.illustration %}
      {% set illustrations = article.illustration.split(', ') %}
      {% if illustrations|length > 0 %}
        <div class="card__pics">
          <img src="/images/{{article.category}}/{{ illustrations|first }}">
        </div>
      {% endif %}
    {% endif %}


    {# Name of the machine #}
    <div>
      <h3 class="card__name pad">{{article.title}}</h2>
    </div>
    
  </a>
</div>