
:root{

    /* for -webkit-text-stroke typography */
    --stroke: 1.5px;
    --thick-stroke: 3px;
    --lh: 1.35rem;

    /* similarly to the isometric plan of a card: */
        /* to seperate individually moving parts */
    --border-big: var(--thick-stroke) solid black;
        /* to separate parts fixed between them */
    --border-thin: var(--stroke) solid black;

    /* horizontal dimensions */
    --nav-w: 16rem;
    --card-w: 50vw;
    --back-space: var(--lh);

    /* font-size */
    --fs-main: 1.35rem;
    --fs-up: 2rem;
    --fs-big: 3.6rem;
    /* get back initial browser font-size */
    --fs-small: calc(1rem / 1.375);

    /* background */
    --c-back: repeating-linear-gradient(-45deg, 
        white 0px, white calc(0.5em - var(--stroke)), 
        black calc(0.5em - var(--stroke)), black 0.5em
        );
}
@media only screen and (max-width: 54rem) {
    :root{
        --back-space: calc(var(--lh) / 2);
        --card-w: calc(100vw - var(--back-space) * 6);
    }
}
@media only screen and (max-width: 36rem) {
    :root{
    /* for -webkit-text-stroke typography */
    --stroke: 1px;
    --thick-stroke: 2px;
    }
}

/*  GLOBAL STYLES 
    ====================================================    */

body{
    scroll-behavior: smooth;
}
strong{
    font-weight: bold;
}

/* taming the images */
figure{
    display: table;
    
    /* make them float */
    float: right;
    margin: 0 0 1em 1em;
    clear: both;
    max-width: 21rem;
}
figure > img{
    display: block;
    max-width: 100%;
    max-height: 18rem;
    height: auto !important;
}
figcaption{
    display: table-caption;
    caption-side: bottom;
    font-size: var(--fs-small);
    line-height: 1.35;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.5em;
}
.gallery figure,
.gallery img{
    margin: 0;
    float: none;
}

/*  UTILITY CLASSES
    ====================================================    */

.pad{
    padding: calc(var(--lh) / 2) calc(var(--lh) / 2);
}
.unavailable{
    -webkit-text-stroke-color: gainsboro;
}

.content ul{
    padding-left: var(--lh);
    list-style: '-\00a0';
}

/*  SIDE NAVIGATION 
    ====================================================    */

/* navigation fixed on the side of the screen */
nav{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vw;
    background-color: white;

    width: var(--nav-w);
    border-right: var(--border-big);

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}
nav a{
    border: none;
}

nav h1{
    background-color: white;
    margin: 0;
    padding: var(--lh) var(--lh) calc(var(--lh) / 2 );

    font-size: calc(var(--fs-up) * 1.25);
    text-transform: uppercase;
    font-family: hersheyScript;
    -webkit-text-stroke-width: var(--thick-stroke);
}
nav ul{
    flex-grow: 0;
    box-sizing: border-box;
    position: relative;
    padding-top: var(--lh);
}
nav li{
    --h: 2.5rem;
    margin-bottom: calc(var(--lh) / 2);

    display: flex;
    align-items: center;
}
nav ul a{
    display: flex;
    align-items: center;
}

/* the fixed squares representing "pen holders" */
nav li::before{
    width: var(--lh);
    height: var(--h);

    content: '';
    display: block;
    border: var(--border-thin);
    box-sizing: border-box;
    border-left: 0;
    position: relative;
    background: white;
}

/* the moving circles representing "pen" */
nav ul a::before{
    width: calc(var(--h) - 0.5rem);
    height: calc(var(--h) - 0.5rem);

    margin-left: calc((var(--h) - 0.5rem) / -2);
    margin-right: 0.25rem;

    content: '';
    display: block;
    border: var(--border-big);
    box-sizing: border-box;
    position: relative;
    background-color: white;

    border-radius: 50%;
}
nav ul a:hover::before{
    border-color: mediumblue;
}

/* moving out when on it */
nav .active a::before{
    margin-left: 1rem;
    background-color: mediumblue;
    border: none;
}

/* nav fixed on top */
@media only screen and (max-width: 54rem) {
    nav{
        position: sticky;
        top: 0;
        height: auto;
        width: 100%;
        border-right: 0;
        border-bottom: var(--border-big);
    }
    nav ul{
        display: flex;
        flex-wrap: wrap;
        gap: calc(var(--lh) / 2);
    }
    nav li{
        margin-bottom: 0;
    }
    nav li::before{
        content: none;
    }
    nav ul a::before{
        margin-left: 0;
    }
    nav .active a::before{
        margin-left: 0;
    }
    nav h1,
    nav ul{
        padding: calc(var(--lh) / 2);
    }
    nav h1{
        padding-bottom: 0;
    }
    nav ul{
        padding-bottom: var(--lh);
    }
}
@media only screen and (max-width: 36rem) {
    nav li{
        --h: 2rem;
    }
}

/*  TEXT PAGES
    ====================================================    */

body > article{
    margin: calc(var(--lh) * 2);
    margin-left: var(--nav-w);
    padding-left: var(--back-space);
    max-width: 36rem;
}
body > article.index{
    max-width: 100%;
}
.global__short{
    max-width: 36rem;
}
@media only screen and (max-width: 54rem) {   
    body > article {
        padding: 0 calc(var(--lh) / 2);
        margin: var(--lh) 0;
        max-width: 36rem;
    }
}


/*  CATALOGUE (HORIZONTAL) 
    ====================================================    */

.catalogue{
    height: 100vh;

    display: flex;
    gap: var(--back-space);

    overflow: auto;
    scroll-behavior: smooth;
    background: var(--c-back);
}
.card{
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;

    padding-bottom: 3rem;

    background-color: white;
    width: var(--card-w);

    scroll-margin-right: calc(100vw - var(--nav-w) - var(--back-space) * 4 - var(--card-w));
    scroll-margin-left: calc(var(--nav-w) + var(--back-space) * 4);

    overflow: auto;
}
.card:first-child{
    margin-left: calc(var(--nav-w) + var(--back-space));
}
.card{
    border-left: var(--border-big);
    border-right: var(--border-big);
}
.card:target{
    outline: none !important;
}

/* catalogue "smart" ID scrolling */
.card__link{
    color: currentColor;
    text-decoration: none;

    /* cards card appears clickable */
    cursor: pointer;
}
.card__link:hover .card__name{

    /* name of card in color when hovering */
    -webkit-text-stroke-color: mediumblue;
}

/* but when targeted by anchor, everything get back to normal */
.card:target .card__link{
    cursor: default;
}
.card:target .card__link:hover .card__name{
    -webkit-text-stroke-color: black;
}
.card:target .card__link:hover{
    -webkit-text-stroke-color: black;
}

/*  ID CARD OF EACH card (VERTICAL) 
    ====================================================    */

.card{
    min-height: 100vh;
}

.card img {
    height: 20rem;
    display: block;
    width: 100%;
    object-fit: contain;
    object-position: left center;
}
.card__pics{
    position: relative;
    background-color: #e5e5e5;
}


img.manual{
    float: right;
	height: auto;
	width: 50%;
}


.card div.card__pics,
.card div.pad{
    border-bottom: var(--border-thin);
}

.card__name{
    text-transform: uppercase;
    font-family: hershey1;
    -webkit-text-stroke-width: var(--thick-stroke);
}

.card__meta {
    font-size: var(--fs-small);
    line-height: 1.35;
}
.card__meta span + span{
    margin-left: 0.25em;
}


@media only screen and (max-width: 54rem) {   
    .card:first-child {
        margin-left: var(--back-space);
    }

    body.catalogue-mode{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    nav{
        flex-grow: 0;
    }
    .catalogue {
        flex-grow: 1;
        height: auto;
        overflow-y: hidden;
    }
    .card{
        min-height: auto;
        scroll-margin-right: calc(var(--back-space) * 3);
        scroll-margin-left: calc(var(--back-space) * 3);
    }
    .card__name{
        font-size: var(--fs-main);
    }
}

/*  GRID AND SMALL CARDS
    ====================================================    */

ul.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
    gap: var(--lh);
}
.small-card{
    outline: var(--border-big);
}
.small-card h3{
    font-size: 1rem;
    border: none;
    border-top: var(--border-thin);
}
.small-card .card__short{
    padding: calc(var(--lh) / 2);
    border-top: var(--border-thin);
}
.small-card img{
    display: block;
    max-width: 100%;
    height: 14rem;
    border-radius: 0;
    object-fit: cover;
}