
@font-face {
  font-family: hershey1;
  src: url('../fonts/HersheySans1.otf');
}
@font-face {
  font-family: hersheyScript;
  src: url('../fonts/HersheyScript1.otf');
}

/* BASIC TYPOGRAPHY */
html{
  /* 22px on desktop  */
  font-size: var(--fs-main);
}
@media only screen and (max-width: 54rem) {
  html{
    /* but 16px on mobile */
    font-size: 1em;
  }
}
@media only screen and (max-width: 36rem) {
  :root{
    --fs-up: 1.8rem;
    --fs-big: 2.4rem;
  }
}

body{
  /* bigger line-height */
  line-height: var(--lh);

  /* webkit-stroke font */
  font-family: hershey1;
  -webkit-text-stroke-width: var(--stroke);
  -webkit-text-stroke-color: black;
  color: transparent;
}

/* titles margins */
h1,h2{
  font-family: hersheyScript;
}
h1{
  font-size: var(--fs-big);
  line-height: calc(var(--lh) * 2);
  margin: 0 0 calc(var(--lh) * 1);
}
h2{
  font-size: var(--fs-up);
  line-height: calc(var(--lh) * 1.5);
  margin: calc(var(--lh) * 1.5) 0 calc(var(--lh) * 1);
}
h3{
  font-size: 1rem;
  margin: calc(var(--lh) * 2) 0 calc(var(--lh) * 1);
  -webkit-text-stroke-width: var(--thick-stroke);
}
h4{
  font-size: 1rem;
}
h1 + h2,
h2 + h3{
  margin-top: calc(var(--lh) * 1);
}

p{
  margin: calc(var(--lh) * 1) 0;
}

:is(h2,h3,h4,h5,h6,p):first-child{
  margin-top: 0;
}
:is(h2,h3,h4,h5,h6,p):last-child{
  margin-bottom: 0;
}

strong{
  -webkit-text-stroke-width: calc(var(--stroke) * 1.3);
}

blockquote{
  margin: var(--lh);
  margin-right: 0;
}

dd{
  margin-bottom: var(--lh);
}

a,
a:visited{
  cursor: pointer;
  color: currentColor;
  text-decoration: none;
  border-bottom: var(--border-thin);
  transition: 0.1s border;
}
a:hover{
  border-bottom-width: var(--thick-stroke);
  -webkit-text-stroke-color: mediumblue;
}

/* ARTICLE PAGE */

article img{
  display: block;
  max-width: min(30rem, 100%);
  max-height: 50vh;
  margin: auto;
  border-radius: var(--lh);
}

article h1{
  padding-bottom: var(--lh);
  border-bottom: var(--border-thin);
}
article h2{
  border: var(--border-thin);
  padding: calc(var(--lh) / 4) calc(var(--lh) / 2);
  border-radius: 10em;
  width: fit-content;
}

@media only screen and (max-width: 36rem) {
  h1{
    line-height: calc(var(--lh) * 1.5);
  }
  article h1{
    padding-bottom: calc(var(--lh) * 0.5);
  }
}

/* MODAL */

/* typography for the modal info box */
.modal-content{
  line-height: 1.15rem;
  --lh: 1.15rem;
}
.modal *{
  font-family: monospace;
  -webkit-text-stroke: 0;
  color: black;
}
.modal h2,
.modal strong{
  font-family: monospace !important;
  font-weight: bold !important;
  background: none !important;
  font-size: 1em;
}
.modal h2{
  text-transform: uppercase;
  margin: calc(var(--lh) * 1) 0 calc(var(--lh) * 1);
}
.modal-content > *:first-child{
  margin-top: 0;
}